streamlit==1.49.1
agno==1.6.0
python-dotenv==1.0.1
googletrans==4.0.2
SpeechRecognition==3.14.3
pydub==0.25.1
langdetect==1.0.9
Pillow==10.4.0
deep-translator==1.11.4
numpy==1.26.4
streamlit-drawable-canvas==0.9.3
requests==2.32.3
pydantic==2.11.5
langchain-google-genai==2.1.10
openai>=1.86.0